footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  border-top: 0.025rem solid $c-lightgrey;

  h1 {
    display: flex;
    justify-content: center;
   }

  nav {
    width: 60%;
    max-width: 65rem;
    margin: 0 auto;

    img {
      vertical-align: middle;
    }
   }
}


.footer-other-posts-container {
  display: flex;
}

.footer-other-posts {
  position: relative;
  flex-grow: 1;

  h4 {
    display: inline;
    position: absolute;
    bottom: -4%;
    left: 5%;


   }

  img {
    width: 100%;

  }
}

.footer-navbar-container {
  padding: 1rem;
  background-color: $c-darkblue;


  ul {
    padding-right: 2rem;
    float: right;
    font-size: 0.7rem;

  }

  span {
    font-size: 0.5rem;
  }
}
