
main {
  display: flex;
  width: 60%;
  max-width: 65rem;
  margin: 0 auto;

  h2 {
    border-left: 0.4rem solid;
    padding-left: 0.5rem;
  }
}
.left-article {
  img {
    border-radius: 5rem;
  }
}
.right-article-info {
  img {
    border-radius: 5rem;
  }
}
